In [15]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import plotly
from warnings import filterwarnings

#Deep learning & modules
from scikeras.wrappers import KerasRegressor
from tensorflow.keras import Sequential
from tensorflow.keras.layers import Dense

#data imputation
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import StandardScaler
from sklearn.impute import SimpleImputer
from sklearn.pipeline import Pipeline

#Model Export
import pickle

filterwarnings("ignore")

In [ ]:
#Our Goal is to predict the average case that appears that time

In [3]:
df = pd.read_csv("data/covid-data.csv")

In [4]:
df

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
0,AFG,Asia,Afghanistan,2020-02-24,5.0,5.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
1,AFG,Asia,Afghanistan,2020-02-25,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
2,AFG,Asia,Afghanistan,2020-02-26,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
3,AFG,Asia,Afghanistan,2020-02-27,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
4,AFG,Asia,Afghanistan,2020-02-28,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
166321,ZWE,Africa,Zimbabwe,2022-03-01,236871.0,491.0,413.000,5395.0,0.0,1.000,...,1.6,30.7,36.791,1.7,61.49,0.571,NaN,NaN,NaN,NaN
166322,ZWE,Africa,Zimbabwe,2022-03-02,237503.0,632.0,416.286,5396.0,1.0,1.143,...,1.6,30.7,36.791,1.7,61.49,0.571,NaN,NaN,NaN,NaN
166323,ZWE,Africa,Zimbabwe,2022-03-03,237503.0,0.0,362.286,5396.0,0.0,0.857,...,1.6,30.7,36.791,1.7,61.49,0.571,NaN,NaN,NaN,NaN
166324,ZWE,Africa,Zimbabwe,2022-03-04,238739.0,1236.0,467.429,5397.0,1.0,0.714,...,1.6,30.7,36.791,1.7,61.49,0.571,NaN,NaN,NaN,NaN
166325,ZWE,Africa,Zimbabwe,2022-03-05,239019.0,280.0,459.429,5397.0,0.0,0.571,...,1.6,30.7,36.791,1.7,61.49,0.571,NaN,NaN,NaN,NaN

In [12]:
df.isnull().sum()

iso_code                                   0
continent                                  0
location                                   0
date                                       0
total_cases                                0
                                          ..
human_development_index                    0
excess_mortality_cumulative_absolute       0
excess_mortality_cumulative                0
excess_mortality                           0
excess_mortality_cumulative_per_million    0
Length: 67, dtype: int64

In [ ]:
#SimpleImputation

In [19]:
#counting the unique
unique_continents = df["continent"].dropna().unique().tolist()
imputer = SimpleImputer(strategy="most_frequent")
df["continent"] = imputer.fit_transform(df[["continent"]]).ravel()
df["total_cases"] = imputer.fit_transform(df[["total_cases"]]).ravel()
df["human_development_index"] = imputer.fit_transform(df[["human_development_index"]]).ravel()
df["excess_mortality_cumulative_absolute"] = imputer.fit_transform(df[["excess_mortality_cumulative_absolute"]]).ravel()
df["excess_mortality_cumulative"] = imputer.fit_transform(df[["excess_mortality_cumulative"]]).ravel()
df["excess_mortality"] = imputer.fit_transform(df[["excess_mortality"]]).ravel()
df["excess_mortality_cumulative_per_million"] = imputer.fit_transform(df[["excess_mortality_cumulative_per_million"]]).ravel()

label = LabelEncoder()
df["iso_code"] = label.fit_transform(df[["iso_code"]])
df["continent"] = label.fit_transform(df[["continent"]])
df["location"] = label.fit_transform(df[["location"]])

df["date"] = pd.to_datetime(df[["date"]], format="%d/%m/%y")

ValueError: to assemble mappings requires at least that [year, month, day] be specified: [day,month,year] is missing

In [ ]:
#Data Visualization

In [17]:
corr = df.corr()

sns.heatmap(corr)

ValueError: could not convert string to float: 'Afghanistan'